<!-- $Id: privilege_info.htm 16616 2009-08-27 01:56:35Z liuhui $ -->
{include file="pageheader.htm"}
<div class="main-div">
<form name="theForm" method="post" enctype="multipart/form-data" onsubmit="return validate();">
<table width="100%">
  <tr>
    <td class="label">楼盘名称</td>
    <td>
      <input type="text" name="house_name" value="{$user.house_name|escape}" size="34" /></td>
  </tr>
  <tr>
    <td class="label">楼盘地址</td>
    <td>
      <input type="text" name="house_address" value="{$user.house_address|escape}" size="34" /></td>
  </tr>
  <tr>
    <td class="label">楼盘价格</td>
    <td>
      <input type="text" name="house_price" value="{$user.house_price|escape}" size="34" /></td>
  </tr>
  <tr>
    <td class="label">楼盘简介</td>
    <td>
      <input type="text" name="house_introduce" value="{$user.house_introduce|escape}" size="34" /></td>
  </tr>
  <tr>
    <td class="label">楼盘照片</td>
    <td>
      <input type='file' name='ad_img' size='34' /><br /><span>图片大小：470*300</span></td>
  </tr>
  
  <tr>
    <td class="label">楼盘链接</td>
    <td>
      <input type="text" name="house_link" value="{$user.house_link|escape}" size="34" /></td>
  </tr>

  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />&nbsp;&nbsp;&nbsp;
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_act}" />
      <input type="hidden" name="token" value="{$token}" />
      <input type="hidden" name="id" value="{$user.index_house_id}" /></td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}

{include file="pagefooter.htm"}