{if $full_page}
<!-- $Id: user_account_manage.htm 14598 2008-05-21 07:41:15Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<!-- start article list -->
<div class="list-div" id="listDiv">
{/if}
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>楼盘名称</th>
    <th>楼盘地址</th>
    <th>楼盘价格</th>
    <th>楼盘简介</th>
    <th>楼盘照片</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from =$card_list item=msg}
  <tr valign="middle">
    <td align="center" valign="middle" >{$msg.index_house_id}</td>
    <td align="center"  valign="middle" >{$msg.house_name}</td>
    <td align="left"  valign="middle" >{$msg.house_address}</td>
    <td align="center" valign="middle" >{$msg.house_price}</td>
    <td align="center"  valign="middle" >{$msg.house_introduce}</td>
    <td align="center"  valign="middle" ><a target="_blank" href="../data/index/{$msg.house_img}"><img src="../data/index/{$msg.house_img}" style="width:40px;" /></a></td>
    <td align="center" valign="middle" >
      <a href="index_goods_manage.php?act=edit&id={$msg.index_house_id}" title="{$lang.view}">
        <img src="images/icon_edit.gif" border="0" height="16" width="16" />
      </a>&nbsp;&nbsp;
      <a href="index_goods_manage.php?act=remove&id={$msg.index_house_id}" onclick="del();" title="{$lang.remove}">
        <img src="images/icon_drop.gif" border="0" height="16" width="16">
      </a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="8">{$lang.no_records}</td></tr>
  {/foreach}
</table>
<!--分页样式-->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}

</div>
<!-- end article list -->
<br />
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
  /* 检查订单 */
  startCheckOrder();
}
//-->
//分页js赋值
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};
{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
<!--
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索标题
 */
function searchMsg()
{
    var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    var msg_type = document.forms['searchForm'].elements['msg_type'].value;

    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['msg_type'] = document.forms['searchForm'].elements['msg_type'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function del(){
if(confirm("确认删除吗")){
}
else{
return;
}
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}